[build]
builder = "dockerfile"

[deploy]
startCommand = "node server.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
PORT = "8080"
NODE_ENV = "production"
VITE_API_URL = "https://itarent02back-production.up.railway.app/api/v1" 