@use '@/styles/variables' as *;

.authPage {
  min-height: calc(100vh - 200px); // Учитываем высоту header и footer
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: $padding-xl;
  padding-bottom: $padding-xl;
}
